<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Edit</title>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body style="background-color: aliceblue; text-align: center; color: aliceblue" background="img.jpg">

<h3>Welcome Student</h3>

<h3> Editing your records  </h3>

<div data-ng-app="app" ng-controller="MainCtrl" ng-init="getData()">


    <h4> All Student records </h4>

    <table style="text-align: center" border="1">
        <thead>
        <tr>
            <th style="text-align: left"> First Name </th>
            <th style="text-align: left"> Last Name </th>
            <th style="text-align: left"> Email </th>
            <th style="text-align: left"> Grade </th>
            <th style="text-align: left"> Age </th>
            <th style="text-align: left"> Address </th>
            <th style="text-align: left"> phone Number</th>

        </tr>
        </thead>



        <tbody ng-repeat="student in list">
        <td>{{student.sfname}}</td>
        <td> {{student.slname}}</td>
        <td> {{student.semail}}</td>
        <td> {{student.sgrade}}</td>
        <td> {{student.sage}}</td>
        <td> {{student.sadd}}</td>
        <td> {{student.sphone}}</td>
        </tbody>

    </table>

    <br>

    <p> Note! You can only edit your age , address and phone number</p>
    <p>You don't have acess to delete records</p>


    <label> Enter Student name to edit </label>
    <input type="text" title="name" ng-model="vm.name">
    <button style="background-color: aqua" data-ng-click="getData()"> Get Details  </button>
    <br>
    <br>
    <p>Selected Student Details</p>
    <table style="text-align: center" border="1">
        <thead>
        <tr>
            <th style="text-align: left"> First Name </th>
            <th style="text-align: left"> Last Name </th>
            <th style="text-align: left"> Email </th>
            <th style="text-align: left"> Grade </th>
            <th style="text-align: left"> Age </th>
            <th style="text-align: left"> Address </th>
            <th style="text-align: left"> phone Number</th>

        </tr>
        </thead>


        <tbody >
        <td>{{list1.sfname}}</td>
        <td> {{list1.slname}}</td>
        <td> {{list1.semail}}</td>
        <td> {{list1.sgrade}}</td>
        <td> {{list1.sage}}</td>
        <td> {{list1.sadd}}</td>
        <td> {{list1.sphone}}</td>
        </tbody>

    </table>

    <br>

    <button style="background-color: aqua"  onclick=window.location.href="addstudents.html">Edit</button>
    <button style="background-color: aqua" onclick=window.location.href="MainPage1.html">Go to your page</button>

</div>

</body>
</html>